ion-card {
  border-radius: 24px;
}

.weather-card-container {
  display: grid;
  align-content: center;
  text-align: center;
  padding-block: 16px;
  padding-inline: 24px;
}

.weather-card-header {
  padding-block: 16px;
  border-block-end: 0.5px solid;
}

.weather-card-time {
  font-size: 16px;
  color: lightgray;
}

.weather-card-area {
  font-size: 24px;
}

.weather-card-icon {
  font-size: 72px;
  margin-block-start: 16px;
}

.weather-card-temperature--now {
  font-size: 48px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.weather-card-unit {
  font-size: 16px;
  padding-block-start: 10px;
}

.weather-card-content {
  font-size: 16px;
}

.weather-card-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-block-start: 16px;
}

.weather-card-temperature {
  display: flex;
  flex-direction: column;
}

.weather-card-temperature--value {
  font-size: 16px;
  font-weight: bold;
}
