<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div class="title-container">
        <ion-icon name="location-outline"></ion-icon>
        <span>Current Location</span>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" mode="ios" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
      pullingText="Pull To Refresh"
      refreshingText="Refreshing..."
    ></ion-refresher-content>
  </ion-refresher>

  <weather-card [date]="currentWeather()?.dt ?? null"></weather-card>
</ion-content>
